.banner {
  position: relative;
  height: calc(100vh - 6rem);
  overflow: hidden;
  background: url('../../assets/imgs/thumbnail.JPG') no-repeat 70% 50% / cover;

  @include mediaQ('>=desktop') {
    height: calc(100vh - 8rem);
  }

  video {
    object-fit: fill;
    display: none;

    @include mediaQ('>=desktop') {
      display: block;
    }
  }

  &__text {
    position: relative;
    z-index: 2000;
    text-transform: uppercase;
    color: #fff;

    @include centerElement();

    @include mediaQ('>=desktop') {
      left: 27vw;
      top: 35vh;
      color: $color__primary;
    }

    h1 {
      font-size: 5.2rem;
      @include mediaQ('>=desktop') {
        font-size: 9.5rem;
      }

      span {
        display: block;
      }

      span:last-child {
        margin-top: -2rem;

        @include mediaQ('>=desktop') {
          margin-top: -4rem;
        }
      }
    }

    p {
      margin-top: -3rem;
      font-size: 1.3rem;

      @include mediaQ('>=desktop') {
        font-size: 1.6rem;
        margin-top: -6rem;
        font-weight: 600;
      }
    }

    button {
      margin-top: 2.3rem;
      background-color: $color__primary;
      border: none;
      color: #fff;
      font-weight: 600;
      padding: 2rem;
      font-size: 1.25rem;
      width: 20rem;
      text-transform: uppercase;
      cursor: pointer;
      transition: all 0.1s;
      @include mediaQ('>=desktop') {
        width: 30rem;
        margin-top: 3rem;

        &:hover {
        }
        &:focus {
          outline: none;
        }
        &:active {
          transform: scale(0.9);
        }
      }
    }
  }
}
