.banner {
  position: relative;
  height: calc(100vh - 6rem);
  overflow: hidden;
  background: url('../../assets/imgs/thumbnail.JPG') no-repeat 70% 50% / cover;

  @include mediaQ('>=desktop') {
    height: calc(100vh - 8rem);
  }

  video {
    object-fit: fill;
    display: none;

    @include mediaQ('>=desktop') {
      display: block;
    }
  }
}
