.top-nav {
  background-color: #fff;
  height: 6rem;
  padding-left: 1.3rem;
  padding-right: 1.3rem;

  @include immaFlex($align: center);
  @include mediaQ('>=desktop') {
    height: 8rem;
    padding-left: 5rem;
    padding-right: 5rem;
  }

  ul {
    width: 100%;
    @include immaFlex($align: center, $just: space-between);

    li {
      cursor: not-allowed;
      text-transform: uppercase;
      @include immaFlex($align: center);
    }

    li:nth-child(1) {
      span {
        font-size: 2.25rem;

        @include mediaQ('>=desktop') {
          font-size: 2.8rem;
        }
      }
    }

    li:nth-child(2) {
      font-weight: 700;
      font-size: 1.3rem;
      flex-direction: column;

      .curve-text {
        display: none;
        @include mediaQ('>=desktop') {
          display: block;
          transform: scale(1.5);
          font-size: 13.35rem;
        }
        path {
          fill: transparent;
        }
      }

      .wings {
        display: none;
        @include mediaQ('>=desktop') {
          display: block;
          width: 2.4rem;
          height: 2.4rem;
          margin-bottom: -0.8rem;
          margin-top: -1rem;
        }
      }

      .text {
        margin-top: -0.2rem;
        @include mediaQ('>=desktop') {
          font-size: 2rem;
        }
      }
    }

    li:nth-child(3) {
      span {
        display: none;
        @include mediaQ('>=desktop') {
          display: block;
          margin-right: 1rem;
          font-size: 1.2rem;
          font-weight: 600;
        }
      }

      svg {
        @include mediaQ('>=desktop') {
          width: 2rem;
          height: 2rem;
        }
      }
    }

    svg {
      color: $color__primary;
      fill: $color__primary;
      stroke: $color__primary;
      width: 1.5rem;
      height: 1.5rem;
    }
  }
}

.side-nav {
  display: none;

  @include mediaQ('>=desktop') {
    position: fixed;
    display: block;
    width: 30vw;
    background: #fff;
    z-index: 10;
    height: 100vh;
    @include immaFlex($align: center);
  }

  ul {
    margin-top: auto;
    margin-bottom: 13rem;
    margin-left: 5rem;

    li {
      cursor: not-allowed;
    }

    li:not(:last-child) {
      margin-bottom: 2rem;
    }
    svg {
      color: $color__primary;
      fill: $color__primary;
      stroke: $color__primary;
    }
  }
}
